<b>Задание 4: Диалогическое высказывание</b> 😊
<i>Информация:</i>
Вам предоставляется небольшой текст, содержащий информацию или точку зрения на заданную тему.

<i>Задача:</i>
Вы будете играть одну из двух ролей: участник А или участник В. 🎭
Вам необходимо продолжить диалог с экзаменатором, используя информацию из текста и свои собственные идеи. 💡
Отвечайте на вопросы экзаменатора, задавайте свои вопросы и выражайте свое мнение. 💬
Покажите свою способность поддерживать диалог на английском языке, используя грамматически корректные конструкции и разнообразную лексику. 💪
Тренируйтесь в чтении и понимании текста, а также в развитии навыков диалога на английском языке. 📚✍️
